#canvas-container {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden; /* Ensures the map doesn't overflow the container */
}

#map_layer {
    background-color: black;
}

canvas {
    position: absolute; /* Stack canvases on top of each other */
    top: 0;
    left: 0;
}